%form
  %label
    %input{type: "checkbox", id: "joins", checked: "checked"}
    Hide join/leave messages?

%table.table.table-hover.table-striped.table-bordered.table-responsive.sortable
  %thead
    %tr
      %th.timestamp{"data-defaultsort" => "desc"} Time
      %th.player Player
      %th.content Content
  %tbody
    - @messages.each do |message|
      - extra_class = "danger" if message[:type] == :death
      - extra_class = "warning" if message[:type] == :join
      - extra_class = "success" if message[:type] == :emote
      %tr{class: "#{message[:type]} #{extra_class}"}
        %td.timestamp{data: { dateformat: "YYYY/MM/DD hh:mm a zz" }}= message[:timestamp]
        %td.player
          %img{src: "https://minotar.net/avatar/#{message[:player]}/24"}
          = message[:player]
        %td.content= h message[:content]
